{% extends "directory/base.html" %}

{% load widget_tweaks %}

  {% block body_block %}

    <h2>Directory: organisations</h2>

    <form method="get">
      <div class="well">
        <h4 style="margin-top: 0">Filter</h4>
        <div class="row">
          <div class="form-group col-sm-4 col-md-3">
            {{ filter.form.name.label_tag }}
            {% render_field filter.form.name class="form-control" %}
          </div>
          <div class="form-group col-sm-4 col-md-3">
            {{ filter.form.aims_and_activities.label_tag }}
            {% render_field filter.form.aims_and_activities class="form-control" %}
          </div>
          <div class="form-group col-sm-4 col-md-3">
            {{ filter.form.postcode.label_tag }}
            {% render_field filter.form.postcode class="form-control" %}
          </div>
          <div class="form-group col-sm-4 col-md-3">
            {{ filter.form.address.label_tag }}
            {% render_field filter.form.address class="form-control" %}
          </div>
          <div class="form-group col-sm-8 col-md-6">
            {{ filter.form.types.label_tag }}
            {% for choice in filter.form.types %}
            <div class="checkbox">
              <label>
                {{ choice.tag }} {{ choice.choice_label }}
              </label>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">
              <span class="glyphicon glyphicon-search"></span> Search
            </button>
          <button id="clear-form" class="btn btn-default">Clear form</button>
          </div>
          <div class="col-sm-2">
            <a href="{% url 'directory:export_organisations_csv' %}" class="fa fa-download" data-toggle="tooltip" data-offset="0 0" title="Download organisation list"></a>
          </div>
        </div>
      </div>
    </form>


    {% if is_paginated %}
      {% load paginator %}{% paginator 2 %}
    {% endif %}

    <div class="list-group">
      {% for organisation in organisations %}
      <div class="list-group-item">
        <a href="{% url 'directory:org' pk=organisation.id %}">
          <h3 class="list-group-item-heading">{{ organisation.name }}</h3>
        </a>
        <p class="list-group-item-text">{{ organisation.aims_and_activities|safe }}</p>
      </div>


      {% endfor %}
    </div>

    <script>
      $(function(){
          $('[data-toggle="tooltip"]').tooltip();
      });
    </script>

  {% endblock %}
