{% extends "directory/base.html" %}
  {% block body_block %}

    <h2>Directory: organisations</h2>

    {% if is_paginated %}

      <ul class="pagination">

        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link">&laquo;</span>
          </li>
        {% endif %}

        {% if page_obj.number|add:'-3' >= 1 %}
        <li class="page-item">
          <a class="page-link" href="?page=1">1</a>
        </li>
        {% endif %}

        {% if page_obj.number|add:'-3' >= 2 %}
        <li class="page-item disabled">
          <span class="page-link">&hellip;</span>
        </li>
        {% endif %}

        {% for i in paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="page-item active">
              <span class="page-link">{{ i }}<span class="sr-only">(current)</span></span>
            </li>
          {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
            <li class="page-item">
              <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
          {% endif %}
        {% endfor %}

        {% if page_obj.number|add:'3' < paginator.num_pages %}
        <li class="page-item disabled">
          <span class="page-link">&hellip;</span>
        </li>
        {% endif %}

        {% if page_obj.number|add:'3' <= paginator.num_pages %}
        <li class="page-item">
          <a class="page-link" href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
        </li>
        {% endif %}

        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link">&raquo;</span>
          </li>
        {% endif %}
      </ul>
    {% endif %}

    <div class="list-group">
      {% for organisation in organisations %}
      <div class="list-group-item">
        <a href="{{ organisation.id }}">
          <h3 class="list-group-item-heading">{{ organisation.name }}</h3>
        </a>
        <p class="list-group-item-text">{{ organisation.aims_and_activities }}</p>
      </div>


      {% endfor %}
    </div>

  {% endblock %}
