{% extends "directory/base.html" %}
  {% block body_block %}

    <h2>Organisation details</h2>
    <p>
      {{ organisation_detail.name }}
    </p>

    <p>
      Type(s):
    </p>
    {% if organisation_detail.types.all.count > 0 %}
      <ul>
      {% for type in organisation_detail.types.all %}
        <li>
          {{ type.name }} ({{ type.acronym }})
        </li>
      {% endfor %}
      </ul>
    {% else %}
      <p>
        No type has been entered
      </p>
    {% endif %}
  {% endblock %}
