{% extends "org_reg/base.html" %}
  {% block body_block %}

    <h2>Home</h2>
    {% if user.is_authenticated %}
      <p>
        Logged in as {{ user.username }}
      </p>

      {% if orgs|length > 0 %}
        <p>
            Your organisations...
        </p>

        <div class="list-group row">
          {% for organisation in orgs %}
          <div class="list-group-item col-sm-8">
            <a href="{% url 'org_reg:update' pk=organisation.pk %}">
              <h3 class="list-group-item-heading">{{ organisation.name }}</h3>
            </a>

              {% if organisation.opportunity_set.all|length > 0 %}
                <p>
                  {{ organisation.opportunity_set.all|length }} current
                  {% if organisation.opportunity_set.all|length == 1 %}
                    opportunity:
                  {% else %}
                    opportunities:
                  {% endif %}
                </p>
                {% for opp in organisation.opportunity_set.all %}
                  <p>
                    {{ opp.name }}
                  </p>
                {% endfor %}
              {% else %}
                <p>
                  No current opportunities
                </p>

              {% endif %}

            <p>
              <a href="{% url 'org_reg:opportunity' organisation=organisation.pk %}">Add an opportunity</a>
            </p>
          </div>
          {% endfor %}
        </div>

      {% endif %}

      <p>
        <a href="{% url 'org_reg:create' %}">Add an organisation</a> - if you have a role with an organisation
        that is not yet in our system (<a href="#">Search existing organisations</a>)
      </p>

      <p>
        <a href="{% url 'org_reg:select' %}">Join an organisation</a> - if you have a role with an existing
        organisation
      </p>



    {% else %}

      <a href="{% url 'org_reg:signup' %}">Sign up</a> or <a href="{% url 'org_reg:login' %}">Log in</a>

    {% endif %}

  {% endblock %}
