{% extends "org_reg/base.html" %}
  {% block body_block %}

    <h2>Home</h2>
    {% if user.is_authenticated %}
      <p>
        Logged in as {{ user.username }}
      </p>

      {% if orgs|length > 0 %}
        <p>
            Your organisations...
        </p>

        <ul>
          {% for organisation in orgs %}
            <li>
              {{ organisation.name }} <a href="{% url 'org_reg:update' pk=organisation.pk %}">Edit this organisation</a>
            </li>
          {% endfor %}
        </ul>


      {% endif %}

      <p>
        <a href="{% url 'org_reg:create' %}">Add new organisation</a>
      </p>
      {% if orgs|length > 0 %}
      <p>
        <a href="{% url 'org_reg:select' %}">Join another organisation</a>
      </p>
      {% else %}
      <p>
        <a href="{% url 'org_reg:select' %}">Join an existing organisation</a>
      </p>
      {% endif %}



    {% else %}

      <a href="{% url 'org_reg:signup' %}">Sign up</a> or <a href="{% url 'org_reg:login' %}">Log in</a>

    {% endif %}

  {% endblock %}
