{% extends "org_reg/base.html" %}
  {% block body_block %}

    <h2>Home</h2>
    {% if user.is_authenticated %}
      <p>
        Logged in as {{ user.username }}
      </p>

      {% if orgs|length > 0 %}
        <p>
            Your organisations...
        </p>

        <div class="list-group row">
          {% for organisation in orgs %}
          <div class="list-group-item col-sm-8">
            <a href="{% url 'org_reg:update' pk=organisation.pk %}">
              <h3 class="list-group-item-heading">{{ organisation.name }}</h3>
            </a>
            <p class="list-group-item-text">
              No current opportunities
            </p>
            <p>
              <a href="{% url 'org_reg:opportunity' organisation=organisation.pk %}">Add an opportunity</a>
            </p>
          </div>
          {% endfor %}
        </div>

      {% endif %}

      <p>
        <a href="{% url 'org_reg:create' %}">Add a new organisation</a>
      </p>
      {% if orgs|length > 0 %}
      <p>
        <a href="{% url 'org_reg:select' %}">Join another organisation</a>
      </p>
      {% else %}
      <p>
        <a href="{% url 'org_reg:select' %}">Join an existing organisation</a>
      </p>
      {% endif %}



    {% else %}

      <a href="{% url 'org_reg:signup' %}">Sign up</a> or <a href="{% url 'org_reg:login' %}">Log in</a>

    {% endif %}

  {% endblock %}
