{% extends "org_reg/base.html" %}
  {% block body_block %}
    <h2>
      Leave Organisation
    </h2>
    <h3>
      {{ organisation.name}}
    </h3>
    <p>
      Yes I want to leave this organisation.
    </p>

    <form method="post">
      {% csrf_token %}
      <input type="hidden" name="org_id" value="{{ organisation.id }}" />
      <input type="submit" class="btn btn-danger" value="Leave" />
      <button onclick="window.history.back();" class="btn btn-default" type="button">Cancel</button>
    </form>

  {% endblock %}
