{% extends "org_reg/base.html" %}
  {% block body_block %}

    <h2>Organisation details</h2>
    <p>
      {{ organisation_detail.name }}
    </p>
    <p>
      {{ organisation_detail.aims_and_activities }}
    </p>
    <p>
      {{ organisation_detail.postcode }}
    </p>

    <p>
      Type(s):
    </p>
    {% if organisation_detail.organisationregistration_set.all.count > 0 %}
      <ul>
        {% for registration in organisation_detail.organisationregistration_set.all %}
          <li>
            {{ registration.type.name }}
            {% if registration.type.acronym %}({{ registration.type.acronym }}){% endif %}
            {% if registration.reg_number %} No. {{ registration.reg_number }}{% endif %}
          </li>
        {% endfor %}
      </ul>

    {% else %}
      <p>
        No type has been entered
      </p>
    {% endif %}

    <p>
      <a class="btn btn-warning" href="{% url 'org_reg:update' pk=organisation_detail.pk %}">Update</a>
    </p>

  {% endblock %}
