{% extends "org_reg/base.html" %}
  {% block body_block %}

    <h2>Join organisation</h2>

    <form method="post">
      {% csrf_token %}
      <select name="organisation" size="20" id="select-org">
        {% for organisation in organisations %}
          <option value="{{ organisation.id }}">
            {{ organisation.name }}
          </option>
        {% endfor %}
      </select>
      <input type="submit" class="btn btn-primary" value="Submit" />
    </form>

    <script type="text/javascript">
      $(document).ready(function() {
        $('#select-org').select2({
          placeholder: "Select an organisation to join",
          allowClear: true,
          theme: "classic"
        });
      });
    </script>

  {% endblock %}
