{% extends "org_reg/base.html" %}
  {% block body_block %}
    <h2>
      {% if not form.instance.pk %}
      Create Organisation
      {% else %}
      Organisation details
      {% endif %}
    </h2>

    <div class="row">
      <div class="col-md-7">
        <form method="post">
          {% csrf_token %}
          {% for field in form %}
            <div class="form-group row">
              <div class="col-md-3">
                  <label for="{{ field.name }}">{{ field.label_tag }}</label>
              </div>
              <div class="col-md-4">
                {{ field }}
              </div>
            </div>
          {% endfor %}

          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}


          <input type="submit" class="btn btn-primary" value="Submit" />
        </form>
      </div>
      <div class="col-md-5">
        <h3>Opportunities</h3>

          {% if organisation.opportunity_set.all|length > 0 %}
            <p>
              {{ organisation.opportunity_set.all|length }} current
              {% if organisation.opportunity_set.all|length == 1 %}
                opportunity:
              {% else %}
                opportunities:
              {% endif %}
            </p>
            {% for opp in organisation.opportunity_set.all %}
              <p>
                {{ opp.name }}
              </p>
            {% endfor %}
          {% else %}
            <p>
              No current opportunities
            </p>

          {% endif %}

          <p>
            <a href="#">Add an opportunity</a>
          </p>
          
      </div>
    </div>


  {% endblock %}
