{% extends "org_reg/base.html" %}
  {% block body_block %}
    <h2>
      {% if not form.instance.pk %}
      Create Organisation
      {% else %}
      Organisation details
      {% endif %}
    </h2>

    <div class="row">

        <form method="post">
          {% csrf_token %}
          {% for field in form %}

            {% if field.name != 'types' %}
              <div class="form-group row">
                <div class="col-md-2">
                    <label for="{{ field.name }}">{{ field.label_tag }}</label>
                </div>
                <div class="col-md-4">
                  {{ field }}
                </div>
              </div>

            {% elif field.name == 'types' %}

              <div class="row">
                <div class="col-md-2">
                  <label for="{{ field.name }}">Type(s):</label>
                </div>
                <div class="col-md-6">
                  Type
                </div>
                <div class="col-md-2">
                  Registration number
                </div>
              </div>
              {% for type in types %}
                <div class="row">
                  <div class="col-md-2">
                  </div>
                  <div class="col-md-6">
                    <input type="checkbox" name="types[id]" value="{{ type.id }}" /> {{ type.name }} {% if type.acronym %}({{ type.acronym }}){% endif %}
                  </div>
                  <div class="col-md-2">
                    <input type="text" name="types[number]" />
                  </div>
                </div>
              {% endfor %}

            {% endif %}
            
          {% endfor %}

          {% if form.errors %}
              {% for field in form %}
                  {% for error in field.errors %}
                      <div class="alert alert-danger">
                          <strong>{{ error|escape }}</strong>
                      </div>
                  {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                  <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
          {% endif %}

          <input type="submit" class="btn btn-primary" value="Submit" />
        </form>

    </div>

    {% load static %}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script>

  {% endblock %}
