<!DOCTYPE html>
{% extends "org_reg/base.html" %}
  {% block body_block %}
  <h2>Profile</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">

      <label for="{{ field.name }}">{{ field.label_tag }}</label><br />

      {% if field.name != 'types' %}

        {{ field }}

      {% elif field.name == 'types' %}
        <div class="row">
          <div class="col-sm-5">
            Type
          </div>
          <div class="col-sm-7">
            Registration number
          </div>
        </div>
        {% for type in types %}
          <div class="row">
            <div class="col-sm-5">
              <input type="checkbox" name="types[id]" value="{{ type.id }}" /> {{ type.name }} {% if type.acronym %}({{ type.acronym }}){% endif %}
            </div>
            <div class="col-sm-7">
              <input type="text" name="types[number]" />
            </div>
          </div>
        {% endfor %}
      {% endif %}

      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}

    </div>
  {% endfor %}
  </form>



  {% endblock %}
