{% load mptt_tags %}
    <h2>
      {{ title_text }}
    </h2>


        <div class="form-group row">
          <div class="col-md-3">
              <strong>Organisation:</strong>
          </div>
          <div class="col-md-4">
            {{ org_var_name.name }}
          </div>
        </div>

        <form method="post">
          {% csrf_token %}

          {% if 'org_id' in request.get_full_path %}
            {% comment %}
              org_id is present in url only if form being used to create a new opportunity
              and not if being used to edit existing opp, when org will be related property of opp
            {% endcomment %}
            <input type="hidden" name="organisation_id" value="{{ organisation.id }}" />
          {% endif %}

          {% for field in form %}

            {% if field.name != 'activitys' and field.name != 'skills' %}

              <div class="form-group row">
                <div class="col-md-3">
                    <label for="{{ field.name }}">{{ field.label_tag }}</label>
                </div>
                <div class="col-md-4">
                  {{ field }}
                </div>
              </div>

            {% elif field.name == 'activitys' %}

              <div class="form-group row">
                <div class="col-md-3">
                    <label for="{{ field.name }}">{{ field.label_tag }}</label>
                </div>
                <div class="col-md-4">
                  <div id="menuwrapper">
                    <ul class="list-group" style="width: 400px">
                        {% recursetree allActivities %}
                          {% if node.level == 0 %}
                            <li class="list-group-item  list-group-item-info">
                              <a href="#parentActivity{{ node.id }}">
                                {{ node.name }}
                              </a>
                          {% else %}
                            <li class="list-group-item">
                              {% if node.name in profileActivities %}
                                <input type="checkbox" name="activitys" value="{{ node.id }}" checked />
                              {% else %}
                                <input type="checkbox" name="activitys" value="{{ node.id }}" />
                              {% endif %}
                              {{ node.name }}
                          {% endif %}

                          {% if not node.is_leaf_node %}
                            <div id="parentActivity{{ node.id }}">
                                <ul>
                                    {{ children }}
                                </ul>
                            </div>
                          {% endif %}

                          </li>

                        {% endrecursetree %}
                    </ul>
                  </div>
                </div>
              </div>

            {% elif field.name == 'skills' %}

              <div class="form-group row">
                <div class="col-md-3">
                    <label for="{{ field.name }}">{{ field.label_tag }}</label>
                </div>
                <div class="col-md-4">
                  <div id="menuwrapper">
                    <ul class="list-group" style="width: 400px">
                        {% recursetree allSkills %}
                          {% if node.level == 0 %}
                            <li class="list-group-item  list-group-item-info">
                              <a href="#parentSkill{{ node.id }}">
                                {{ node.name }}
                              </a>
                          {% else %}
                            <li class="list-group-item">
                              {% if node.name in profileSkills %}
                                <input type="checkbox" name="skills" value="{{ node.id }}" checked />
                              {% else %}
                                <input type="checkbox" name="skills" value="{{ node.id }}" />
                              {% endif %}
                              {{ node.name }}
                          {% endif %}

                          {% if not node.is_leaf_node %}
                            <div id="parentSkill{{ node.id }}">
                                <ul>
                                    {{ children }}
                                </ul>
                            </div>
                          {% endif %}

                          </li>

                        {% endrecursetree %}

                    </ul>
                  </div>
                </div>
              </div>

            {% endif %}

          {% endfor %}

          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
          {% for error in form.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}



          <input type="submit" class="btn btn-primary" value="Submit" />
        </form>

        {% load static %}
        <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
        <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
        <script>

        $(document).ready(function() {
            $('#id_start_date, #id_end_date').datepicker({
              dateFormat: 'd/m/y',
              altField: ".date_alternate",
              altFormat: "yyyy-mm-dd"
            });
        });
        </script>
