{% extends "backend/base.html" %}
  {% block body_block %}
    <p>
      {% if user.is_authenticated %}
          Logged in as {{ user.username }}
          <a class="navbar-link" href="{% url 'logout' %}">Logout</a>
          {% if is_volunteer %}
            <p>
              Registered as volunteer
            </p>
          {% endif %}
          {% if is_org_member %}
            <p>
              Registered as organisational user
            </p>
          {% endif %}
          {% if user.is_superuser %}
          <p>
            Registered as superuser
          </p>
          {% endif %}
      <!-- {% else %}
        <a href="{% url 'login' %}">Log in</a> -->
      {% endif %}
    </p>

    <h2>Components</h2>

    <h3>Directory</h3>
    <p>
      The <a href="{% url 'directory:index' %}">Directory</a> is a publicly accessible front end
      allowing un-registered users to browse organisations and volunteer roles.
    </p>
    <h3>Volunteer portal</h3>
    <p>
      The <a href="{% url 'vol_reg:index' %}">Volunteer portal</a> allows a prospective volunteer
      to signup and create a profile that will enable the system to find suitable roles, and to apply
      for roles.
    </p>
    <h3>Organisation portal</h3>
    <p>
      The <a href="{% url 'org_reg:index' %}">Organisation portal</a> allows organisations to register
      themselves and add roles. An organisation is registered by an 'organisation member' who must first
      sign up as a user and then create the organisation, or attach themselves to an existing organisation.
    </p>
    <h3>Django Admin</h3>
    <p>
      <a href="/admin/">Django admin</a>, accessible to Django superusers only.
    </p>
    <h3>Voluntary Service CRM</h3>
    <p>
      <a href="{% url 'crm:index' %}">CRM for Voluntary Service offices</a>
    </p>

  {% endblock %}
