{% extends "backend/base.html" %}
  {% block body_block %}

    <h2>Home</h2>
    <p>
      {% if user.is_authenticated %}
          Logged in as {{ user.username }}
      {% else %}
        <a href="{% url 'vol_reg:login' %}">Log in</a>
      {% endif %}
    </p>
    <p>
      <a href="{% url 'directory:index' %}">Directory</a>
    </p>
    <p>
      <a href="{% url 'vol_reg:index' %}">Volunteer</a>
    </p>
    <p>
      <a href="{% url 'org_reg:index' %}">Organisation</a>
    </p>
    <p>
      <a href="http://127.0.0.1:8000/admin/">Admin</a>
    </p>

  {% endblock %}
