<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Volunteer dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <ul class="nav navbar-nav">
          <li>
            <a  class="navbar-brand" href="{% url 'vol_reg:index' %}">Home</a>
          </li>
          {% if user.is_authenticated %}
          <li>
            <a  class="navbar-link" href="{% url 'vol_reg:profile' %}">Profile</a>
          </li>
          <li>
            <a class="navbar-link" href="{% url 'logout' %}">Logout {{ user.username }}</a>
          </li>
          {% else %}
          <li>
            <a class="navbar-link" href="{% url 'vol_reg:login' %}">Login</a>
          </li>
          <li>
            <a  class="navbar-link" href="{% url 'vol_reg:signup' %}">Sign up</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <div class="container">
      <h1>Volunteer registration</h1>

        {% block body_block %}

        {% endblock %}

    </div>


  </body>
</html>
