<!DOCTYPE html>
{% extends "vol_reg/base.html" %}
  {% block body_block %}

    <h2>Home</h2>
    {% if user.is_authenticated %}
    <div class="row">
      <div class="col-md-12">
        <p>
          Logged in as {{ user.username }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>
          Hello {{ user.first_name }}, how about <a href="{% url 'vol_reg:profile' %}">updating your profile</a>?
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>
          Your current profile:
        </h3>
        <p>
        Postcode: {{ profile.postcode }}
        </p>
        {% if profile.postcode and profile.range %}
        <p>
          Travel range: within {{ profile.range }}
          {% if profile.postcode and profile.range == 1 %}
          mile
          {% elif profile.postcode and profile.range > 1 %}
          miles
          {% endif %}
          of {{ profile.postcode }}
        </p>
        {% endif %}
        <p>
          Activities:
        </p>
        <ul>
          {% for activity in activities %}
            <li>
              {{ activity }}
            </li>
          {% empty %}
            <li>
              No activities specified
            </li>
          {% endfor %}
        </ul>
        <p>
          Skills:
        </p>
        <ul>
          {% for skill in skills %}
            <li>
              {{ skill }}
            </li>
          {% empty %}
            <li>
              No skills specified
            </li>
          {% endfor %}
        </ul>
      </div>

    </div>
    <div>
      <h3>
        Roles you may be interested in:
      </h3>
      <p>
        {% for opp, count in all_match_counts %}
          <h4>{{ opp }}</h4>
          <p>
            Based on {{ count }} match{% if count > 1 %}es{% endif %}
          </p>
          {% if opp.activitys %}
            <ul>
              {% for activity in opp.activitys.all %}
                <li>
                  Activity: {{ activity }}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endfor %}
      </p>
    </div>

    {% else %}

      <a href="{% url 'vol_reg:signup' %}">Sign up</a> or <a href="{% url 'vol_reg:login' %}">Log in</a>

    {% endif %}

    {% endblock %}
