<!DOCTYPE html>
{% extends "vol_reg/base.html" %}
  {% block body_block %}

    {% if user.is_authenticated %}
    <h1>Welcome {{ user.first_name }} {{ user.last_name }}</h1>

    <div class="row row-bordered">
      <div class="col-md-4">
        <h2>
          Your profile
        </h2>
      </div>
      <div class="col-md-4 sectionlinks">
        <a href="{% url 'vol_reg:profile' %}" class="sectionlink">Update profile</a>
      </div>
    </div>
    <div class="row" id="profile">
      <div class="col-md-12">
        <p>
          Name: {{ user.first_name }} {{ user.last_name}}
        </p>
        <p>
        Postcode: {{ profile.postcode }}
        </p>
        {% if profile.postcode and profile.range %}
        <p>
          Your travel range: within {{ profile.range }}
          {% if profile.postcode and profile.range == 1 %}
          mile
          {% elif profile.postcode and profile.range > 1 %}
          miles
          {% endif %}
          of {{ profile.postcode }}
        </p>
        {% endif %}
        <p class="categoryTitle">
          Your activities:
        </p>
        <ul class="categoryList">
          {% for activity in activities %}
            <li>
              {{ activity }}
            </li>
          {% empty %}
            <li>
              No activities specified
            </li>
          {% endfor %}
        </ul>
        <p class="categoryTitle">
          Your skills:
        </p>
        <ul class="categoryList">
          {% for skill in skills %}
            <li>
              {{ skill }}
            </li>
          {% empty %}
            <li>
              No skills specified
            </li>
          {% endfor %}
        </ul>
      </div>

    </div>
    <div class="row row-bordered">
      <div class="col-md-12">
        <h3>
          Roles you may be interested in
        </h3>
      </div>

    </div>
    <div class="row" id="roles">
      <div class="col-md-12">
        {% if all_match_counts %}
          <p>
            {% for opp, count in all_match_counts %}
              <h4>{{ opp }}, at {{ opp.organisation }}
                <a href="{% url 'directory:detail' pk=opp.organisation.id %}">
                  <i class="fa fa-book" data-toggle="tooltip" title="View this organisation in directory"></i>
                </a>
              </h4>
              <p>
                Based on {{ count }} match{% if count > 1 %}es{% endif %}
              </p>
              {% if opp.activitys %}
                <ul>
                  {% for activity in opp.activitys.all %}
                    <li>
                      Activity: {{ activity }}
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
              {% if opp.organisation.postcode in postcodes_in_range %}
                <ul>
                  <li>
                    Within your travel range: {{ profile.range }}
                    {% if profile.postcode and profile.range == 1 %}
                    mile
                    {% elif profile.postcode and profile.range > 1 %}
                    miles
                    {% endif %}
                    of {{ profile.postcode }}
                  </li>
                </ul>
              {% endif %}
            {% endfor %}
          </p>
          {% else %}
            <p>No matching roles could be found</p>
          {% endif %}
        </div>
    </div>

    {% else %}

      <a href="{% url 'vol_reg:signup' %}">Sign up</a> or <a href="{% url 'vol_reg:login' %}">Log in</a>

    {% endif %}
    <script type="text/javascript">
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
    {% endblock %}
