<!DOCTYPE html>
{% extends "vol_reg/base.html" %}
  {% block body_block %}

    <h2>Profile</h2>
    <p>
      Edit profile for {{ user.first_name }} {{ user.last_name }}
    </p>
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group">

          <label for="{{ field.name }}">{{ field.label_tag }}</label><br />
          {% if field.name != 'activitys' %}
            {{ field }}
          {% else %}
          
            <ul>
              {% for activity in form.fields.activitys.queryset %}
                <li>
                  {{ activity.name }}
                </li>
              {% endfor %}
            </ul>

          {% endif %}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Update profile</button>
    </form>

    {% endblock %}
