{% extends "vol_reg/base.html" %}
{% load mptt_tags %}
  {% block body_block %}

    <h2>Profile</h2>
    <p>
      Edit profile for {{ user.first_name }} {{ user.last_name }}
    </p>
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group">

          <label for="{{ field.name }}">{{ field.label_tag }}</label><br />

          {% if field.name == 'activitys' %}
          <div id="menuwrapper">
            <ul class="list-group" style="width: 400px">
                {% recursetree allActivities %}
                  {% if node.level == 0 %}
                    <li class="list-group-item  list-group-item-info">
                      <a href="#parentActivity{{ node.id }}">
                        {{ node.name }}
                      </a>
                  {% else %}
                    <li class="list-group-item">
                      {% if node.name in profileActivities %}
                        <input type="checkbox" name="activitys" value="{{ node.id }}" checked />
                      {% else %}
                        <input type="checkbox" name="activitys" value="{{ node.id }}" />
                      {% endif %}
                      {{ node.name }}
                  {% endif %}

                  {% if not node.is_leaf_node %}
                    <div id="parentActivity{{ node.id }}">
                        <ul>
                            {{ children }}
                        </ul>
                    </div>
                  {% endif %}

                  </li>

                {% endrecursetree %}
            </ul>
          </div>

          {% elif field.name == 'skills' %}
          <div id="menuwrapper">
            <ul class="list-group" style="width: 400px">
                {% recursetree allSkills %}
                  {% if node.level == 0 %}
                    <li class="list-group-item  list-group-item-info">
                      <a href="#parent{{ node.id }}">
                        {{ node.name }}
                      </a>
                  {% else %}
                    <li class="list-group-item">
                      {% if node.name in profileSkills %}
                        <input type="checkbox" name="skills" value="{{ node.id }}" checked />
                      {% else %}
                        <input type="checkbox" name="skills" value="{{ node.id }}" />
                      {% endif %}
                        {{ node.name }}
                    {% endif %}

                    {% if not node.is_leaf_node %}
                      <div id="parent{{ node.id }}">
                        <ul>
                            {{ children }}
                        </ul>
                      </div>
                    {% endif %}

                  </li>

                {% endrecursetree %}
            </ul>
          </div>

          {% else %}

            {{ field }}

          {% endif %}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}

        </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Update profile</button>
    </form>

    {% endblock %}
