{% extends "vol_reg/base.html" %}
{% load mptt_tags %}
  {% block body_block %}

    <h2>Profile</h2>
    <p>
      Edit profile for {{ user.first_name }} {{ user.last_name }}
    </p>
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group">

          <label for="{{ field.name }}">{{ field.label_tag }}</label><br />
          {% if field.name != 'activitys' %}
            {{ field }}
          {% else %}

            <ul class="list-group">
              {% for activity in form.fields.activitys.queryset %}
                {% if activity.level == 0 %}
                <li class="list-group-item list-group-item-info">
                  {{ activity.name }}
                </li>
                {% endif %}
                {% if activity.level == 1 %}
                <li class="list-group-item">

                  {% if activity.name in activities %}
                    <input type="checkbox" name="activitys" value="{{ activity.id }}" checked />
                  {% else %}
                    <input type="checkbox" name="activitys" value="{{ activity.id }}" />
                  {% endif %}

                  {{ activity.name }}
                </li>
                {% endif %}
              {% endfor %}
            </ul>

          {% endif %}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Update profile</button>
    </form>
{{ foo }}
    {% endblock %}
