{% extends "crm/base.html" %}

  {% block styles %}
    .checkbox label {
      justify-content: left;
    }
  {% endblock %}

  {% block body_block %}


    <h2>CRM: organisations</h2>

    {% load bootstrap3 %}
    {% if filter %}
        <form action="" method="get" class="form">
          <div class="form-group-sm row">
            <div class="col-md-3">
              {% bootstrap_field filter.form.name show_label=False %}
            </div>
            <div class="col-md-3">
              {% bootstrap_field filter.form.telephone show_label=False %}
            </div>
            <div class="col-md-3">
              {% bootstrap_field filter.form.postcode show_label=False %}
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-3">
              {% bootstrap_field filter.form.types show_label=False %}
            </div>
            <div class="col-md-3">
              {% bootstrap_button 'Filter' button_class='btn-primary' %}
              {% bootstrap_button 'Clear' href='/crm/organisations/list/' button_class='btn-success' %}
            </div>
          </div>

        </form>
    {% endif %}

    {% load render_table from django_tables2 %}
    {% render_table table %}

    <!-- <p><br /><a href="{% url 'crm:create-opp' %}">Add an opportunity</a></p> -->

  {% endblock %}
