{% extends "crm/base.html" %}
  {% block body_block %}

    <h2>CRM: organisations</h2>

    {% if is_paginated %}
      {% load paginator %}{% paginator 2 %}
    {% endif %}

    <div class="list-group">
      {% for organisation in organisations %}
      <div class="list-group-item">
        <a href="{% url 'crm:update' pk=organisation.pk %}">
          <h3 class="list-group-item-heading">{{ organisation.name }}</h3>
        </a>
        <p class="list-group-item-text">{{ organisation.aims_and_activities|safe }}</p>
      </div>
      {% endfor %}
    </div>

  {% endblock %}
