{% extends "crm/base.html" %}
  {% block body_block %}


    <div class="card" style="margin-top:50px">

      <div class="card-header">
        <div class="row">
          <div class="col-sm-9">
            <h2 class="card-title">{{ organisation_detail.name }}</h2>
          </div>
          <div class="col-sm-3">
            <i class="fa fa-external-link"></i>
            <i class="fa fa-envelope-o"></i>
            <i class="fa fa-facebook"></i>
            <a href="#" class="fa fa-twitter"></a>
          </div>
        </div>
      </div>

      <div class="card-body">

        <dl class="row">
          <dt class="col-sm-2">
            Aims and activities
          </dt>
          <dd class="col-sm-10">
            {{ organisation_detail.aims_and_activities }}
          </dd>
          <dt class="col-sm-2">
            Address
          </dt>
          <dd class="col-sm-10">
            {{ organisation_detail.address }}, {{ organisation_detail.postcode }}
          </dd>
          <dt class="col-sm-2">
            Tel.
          </dt>
          <dd class="col-sm-10">
            {{ organisation_detail.telephone }}
          </dd>
          <dt class="col-sm-2">
            Email
          </dt>
          <dd class="col-sm-10">
            {{ organisation_detail.email }}
          </dd>
          {% if organisation_detail.types.all.count > 0 %}
          <dt class="col-sm-2">
            Type(s)
          </dt>
          <dd class="col-sm-10">
                {% for org_type in organisation_detail.organisationregistration_set.all %}
                <p class="card-text">
                  {{ org_type.type.name }}
                  {% if org_type.type.acronym %}
                    ({{ org_type.type.acronym }})
                  {% endif %}
                  {% if org_type.reg_number %}
                    {{ org_type.reg_number }}
                  {% endif %}
                </p>
                {% endfor %}
          </dd>
          {% endif %}
        </dl>





      </div>
    </div>

  {% endblock %}
